@model FinalProject.Models.Comment

<body>

    <form asp-action="NewComment">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* Do not touch a tag input *@
        <input asp-for="postId.Id" value="@ViewBag.PostId" hidden class="form-control" />

        <div class="tweet">
            <textarea asp-for="text" placeholder="Write your comment here!" rows="4" cols="50" class="status-newComment"></textarea>
            <span asp-validation-for="text" class="text-danger"></span>
        </div>
        <div class="container">
            @*Do not touch the asp-route-pageNumber="@ViewBag.pageNumber" inside a tag button*@
            <button type="submit" class="commentbtn" asp-route-pageNumber="@ViewBag.pageNumber">Reply</button>
        </div>
    </form>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
