
@{
    ViewData["Title"] = "CreateSRT";
}

<h1>CreateSRT</h1>

<form asp-action="CreateSRT" enctype="multipart/form-data">
    <input type="file" name="VideoFile"/>
    <button type="submit">Convert</button>
</form>