@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div style="margin-left:100%;width:80%">
    <h1 class="text-danger">Error.</h1>

    <br />

    <h1 class="text-danger">This file not found!!!</h1>

</div>