@model FinalProject.Models.User

<body>

    <div class="signup">
        <div class="box">
            <a asp-action="SignUp">SignUp</a>
            <a asp-action="SignIn">SignIn</a>
            </div>
        <form asp-action="SignUp">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="name"><b>Username</b></label>
            <input asp-for="name" type="text" placeholder="Choose user name" required />
            <span asp-validation-for="name" class="text-danger"></span>


            <label asp-for="email"><b>Email</b></label>
            <input asp-for="email" type="text" placeholder="Enter an email address" required />
            <span asp-validation-for="email" class="text-danger"></span>


            <label asp-for="password"><b>Password</b></label>
            <input asp-for="password" type="password" placeholder="Choose a password" required />
            <span asp-validation-for="password" class="text-danger"></span>


            <label asp-for="confirmPassword"><b>Confirm Password</b></label>
            <input asp-for="confirmPassword" type="password" placeholder="Please confirm password" required />
            <span asp-validation-for="confirmPassword" class="text-danger"></span>
            <div class="box2">
                <button class="SignUpbtn" type="submit">SignUp</button>
                </div>
        </form>
        </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
