@model FinalProject.Models.User


<body>
    
    <div class="signin">
        <div class="box3">
            <a asp-action="SignUp" ><i>SignUp</i></a>
            <a asp-action="SignIn"><i>SignIn</i></a>
        </div>
       
            <form asp-action="SignIn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="email"></label>
                <input asp-for="email" placeholder="Enter Email" />
                <span asp-validation-for="email" class="text-danger"></span>


                <label asp-for="password"></label>
                <input asp-for="password" type="password" placeholder="Enter Password" />
                <span asp-validation-for="password" class="text-danger"></span>
                <div class="box4">
                    <button class="SignInbtn" type="submit">SignIn</button>
                </div>

                @if (ViewBag.Fail)
                {
                    <div>Login failed. Please try again.</div>
                }

            </form>
        </div>
 

</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
