
#editbutton {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
    resize: none;
    margin-top: 40%;
    height: 80%;
    background-color: #af8ac9;
    color: black;
}
    #editbutton:hover {
        background-color: purple;
        color: white;
    }

#tweet-body {
    width: 82%;
    margin-left: 60%;
}
/*new post tab*/
    #tweet-body .postText {
        overflow: hidden;
        margin-left: 45%;
        position:relative;
        height: 200%;
        border: 3px solid #e5c11d;
        border-radius: 4px;
        font-size: large;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
        padding: 10%;
    }
    #tweet-body .commentText {
        overflow: hidden;
        margin-left: 50%;
        height: 200%;
        border: 3px solid #e5c11d;
        border-radius: 4px;
        font-size: large;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
        padding: 5%;
    }
#tweet-body2 {
    width: 82%;
    margin-left: 60%;
}
    /*new post tab*/
    #tweet-body2 .postText {
        overflow: hidden;
        margin-left: -70%;
        height: 200%;
        border: 3px solid #dede89;
        border-radius: 4px;
        font-size: large;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
        padding: 10%;
    }

    #tweet-body2 .commentText {
        overflow: hidden;
        margin-left: -70%;
        height: 200%;
        border: 3px solid #dede89;
        border-radius: 4px;
        font-size: large;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
        padding: 10%;
    }
.UserNamePE {
    position: absolute;
    margin-left: 60%;
}
