
.button {
    text-align: center;
    text-decoration: none;
    font-size: large;
    transition-duration: 0.4s;
    overflow: hidden;
    resize: none;
}

.button1 {
    background-color: gainsboro;
    color: black;
    border: 2px solid #e5c11d;
    border-radius: 5%;
    width: 20%;
    left: 100%;
    /*position: relative;*/
}

    .button1:hover {
        background-color: #e5c11d;
        color: white;
    }

.button2 {
    background-color: #af8ac9;
    color: black;
    border: 2px solid gainsboro;
    border-radius: 4px;
    margin-left: 105%;
    width: 20%;
    height: 10%;
    font-size:small;
}

    .button2:hover {
        background-color: purple;
        color: white;
    }

    /*when click on button block this style change*/
    .button2.style {
        pointer-events: none;
        background-color: gainsboro;
    }


#tweet-body {
    width: 82%;
    margin-left: 60%;
}
    /* post tab*/
    #tweet-body .postText {
        overflow: hidden;
        margin-left: 45%;
        position: relative;
        height: 200%;
        border: 3px solid #e5c11d;
        border-radius: 4px;
        font-size: large;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
        padding: 10%;
    }

    #tweet-body .commentText {
        overflow: hidden;
        margin-left: 50%;
        height: 200%;
        border: 3px solid #e5c11d;
        border-radius: 4px;
        font-size: large;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
        padding: 5%;
    }


.post.hide {
    visibility: hidden;
    height: 0px;
}

.comment.hide {
    visibility: hidden;
    height: 0px;
}

.popup {
    display: none;
}

    .popup.open {
        display: block;
    }


.postUserName {
    position: relative;
    margin-left: 50%;
    color: black;
    text-shadow: 3px 3px 7px #af8ac9;
}

.commentUserName {
    position: relative;
    margin-left: 50%;
    color: black;
    text-shadow: 3px 3px 7px #af8ac9;
}

/*#newP{
    margin-bottom:0px;

}*/

/*#newPost {
    margin-bottom: 5%;
}*/

#PostsAndComments {
    margin-top: 5px;
}



