.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0.5px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
    resize: none;
    margin-top: 40px;
    height: 80px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 4px;
}

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

.button2 {
    padding: 20px 20px;
    background-color: white;
    color: gray;
    border: 0px sold;
    border-radius: 4px;
}

    .button2:hover {
        background-color: purple;
        color: white;
    }

.tweet-body {
    width: 82%;
    margin-left: 60px;
}

    .tweet-body .postText {
        overflow: hidden;
        /* resize: none; */
        margin-top: 40px;
        margin-left: 40px;
        height: 100px;
        border: 3px solid #4CAF50;
        border-radius: 4px;
        padding: 100px;
        font-size: 16px;
        font-family: Arial;
        /*position: absolute;*/
        width: 50%;
    }

    .tweet-body .commentText {
        overflow: hidden;
        /* resize: none; */
        margin-top: 40px;
        margin-left: 40px;
        height: 100px;
        border: 3px solid #4CAF50;
        border-radius: 4px;
        /*padding: 100px;*/
        font-size: 16px;
        font-family: Arial;
        width: 60%;
        margin-left: 30%;
    }

    .tweet-body .popup {
        display: none;
    }


        .tweet-body .popup.open {
            display: block;
        }


.postUserName {
    position: absolute;
    margin-left: 40px;
}

.commentUserName {
    position: absolute;
    margin-left: 17%;
}



