.postbtn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    /*left:10%;*/
    background-color: white;
    color: black;
    border: 2px solid #d9bcda;
}

.tweet-body {
    width: 100%;
    margin-left: 60%;
    height: 80%;
    position:relative;
}

    .tweet-body .status {
        /*overflow: hidden;*/
        border: 1px solid #e5c11d;
        border-radius: 4px;
        font-size: large;
        /*position: absolute;*/
    }
