#PostsAndComments {
    margin-top: 5px;
}


#SRTList {
    float: left;
    position: absolute;
    width: 35%;
    margin: 6% auto 15% 3%;
}

#PostList {
    float: right;
    width: 75%;
    height: 75%;
    margin: 2% auto 15% auto;
}

#tweet-body-post {
    width: 82%;
    margin-left: 55%;
}

    #tweet-body-post .postText {
        overflow: hidden;
        /* resize: none; */
        /*margin-top: 15%;*/
        margin-left: 48%;
        height: 20%;
        border: 3px solid #e5c11d;
        border-radius: 4px;
        padding: 10%;
        font-size: large;
        font-family: Arial;
        /* position: absolute; */
        width: 75%;
    }

.btnPro {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0.5px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    overflow: hidden;
    resize: none;
    margin-top: 40px;
    height: 80px;
}

.btnPro2 {
    background-color: #af8ac9;
    color: black;
    border: 0px solid black;
    border-radius: 4px;
    margin-left: 125%;
    margin-top: 1%;
    width: 15%;
    height: 20%;
    text-align: center;
}

    .btnPro2:hover {
        background-color: purple;
        color: white;
    }

.btnPro3 {
    background-color: #af8ac9;
    color: black;
    border: 0px solid black;
    border-radius: 4px;
    margin-left: 170%;
    margin-top: -2%;
    width: 15%;
    height: 20%;
    text-align: center;
}

    .btnPro3:hover {
        background-color: purple;
        color: white;
    }

#tweet-body-comment .commentText {
    overflow: hidden;
    /* resize: none; */
    /*margin-top: 15%;*/
    margin-left: 110%;
    height: 15%;
    border: 3px solid #e5c11d;
    border-radius: 4px;
    padding: 8%;
    font-size: large;
    font-family: Arial;
    /* position: absolute; */
    width: 60%;
}

.UserNameP {
    position: absolute;
    margin-left: 15%;
    margin-top: -2%;
    font-size: small;
}

.UserNameC {
    position: absolute;
    margin-left: 41%;
    margin-top: -2%;
    font-size: small;
}

.popup {
    display: none;
}

    .popup.open {
        display: block;
    }


.mysrt {
    color: black;
    font-size: large;
    border: none;
    position: relative;
    left: 80%;
    margin-top: 20%;
}

.mypost {
    color: black;
    font-size: larger;
    border: none;
    position: relative;
    left: 100%;
    margin-top: 13%;
}

#error {
    margin-left: 100%;
    width: 75%;
}
