body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%; /* Full width */
    height: 75%; /* Full height */
    /*margin: 5% auto 15% auto;*/
   
}

form {
    border: 3px solid none;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display:flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    left: 200%;
}

.SignUpbtn {
    background-color: #e5c11d;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 35%;
    left:50%;
}

    .SignUpbtn:hover {
        opacity: 0.8;
    }
.box {
    opacity: 1;
    background-color: white;
    font-size: larger;
    color: black;
    text-shadow: 3px 3px 7px #e5c11d;
    position: relative;
    left: 1%;
}
.box2 {
    width: 55%;
    background-color: white;
    font-size: larger;
    color: black;
    position: relative;
    left: 65%;
    border: white;
}
.cancelbtn {
    width: auto;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.signup {
    border: none;
    background-color: none;
    opacity: 0.75;
    position: relative;
    left: 90%;
    margin-top: 20%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
