body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-style: italic;
    font-size: large;
}

form {
    border: none;
}

input[type=text], input[type=password] {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

.SignInbtn {
    background-color: #e5c11d;
    color: white;
    border: none;
    cursor: pointer;
    width: 35%;
    left:300%;
    font-size: large;
}

    .SignInbtn:hover {
        opacity: 0.8;
    }


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  
}

.signin {
    border: none;
    background-color: none;
    opacity: 0.75;
    position: relative;
    left: 90%;
    margin-top:20%;
}
.box3 {
    opacity: 1;
    background-color: white;
    font-size: larger;
    color: black;
    text-shadow: 3px 3px 7px #e5c11d;
    position: relative;
    left: 22%;
}
.box4 {
    width: 55%;
    background-color: white;
    font-size: larger;
    color: black;
    position: relative;
    left: 75%;
    border: white;
}
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
